$primary_black: #000;
$primary_gray: #333333;
$secondary_gray: #3333334d;
$primary_white: #fff;
$bg_color: #eeebe5;
$secondary_bg_color: #f7f6f3;
$primary_accent_color: #5700ff;
$secondary_accent_color: #7833ff;
$primary_purple: #9a66ff;
$secondary_purple: #bc99ff;
$hero_bg: #fdfdf7;
$primary_yellow: #ffd00e;
$secondary_yellow: #ffe30b;
$yellow_gradient: linear-gradient(132deg, #ffdf00 0%, #ffb800 100%);
