.gallery {
  padding-top: 40px;
  padding-bottom: 40px;
  &__title {
    text-align: start;
    position: relative;
    margin-bottom: 20px;
    &-decoration::after {
      content: '';
      position: absolute;
      background-color: $primary_gray;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      height: 4px;
      width: 100%;
      clip-path: polygon(0 0, 100% 0%, 21% 100%, 0% 100%);
      left: 0;
      bottom: -6px;
      z-index: 2;
      transition: all 300ms;
    }
  }
  &__list {
    display: grid;
    gap: 20px;
  }
  &__listItem {
    height: 400px;
    position: relative;
    transform: translate(-10px, -10px);
    border: 1px solid $primary_gray;
    border-radius: 15px;
    overflow: hidden;
    --tech-index: 0;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: calc(var(--item-index) * 0.4s);
    box-shadow: 4px 4px 4px 1px rgba($secondary_gray, 0.3);
    &:hover .gallery__itemThumb {
      transform: translateY(0);
    }
    &:hover .gallery__itemTechItem-text {
      animation-name: slideIn;
      animation-duration: 0.8s;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
    }
  }
  &__itemTitle {
    color: $primary_black;
    margin: 0;
  }
  &__itemThumb {
    height: 100%;
    width: 100%;
    padding: 30px 15px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s ease;
    transform: translateY(-100%);
    background-color: rgba(255, 255, 255, 0.5);

    backdrop-filter: blur(10px);
  }
  &__listImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  &__itemTechList {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
  }
  &__itemTechItem {
    border-radius: 5px;
    color: $primary_white;
    --tech-index: 0;
    overflow-y: hidden;
    padding: 4px;
    &-text {
      padding: 10px;
      opacity: 0;
      transform: translateY(-100%);
      box-shadow: 4px 4px 4px 1px rgba($secondary_gray, 0.3);
      background-color: $primary_gray;
      animation-delay: calc(var(--tech-index) * 0.1s);
    }
  }

  &__showMore {
    padding: 10px;
    color: $primary_white;
    border-radius: 5px;
    background-color: $primary_gray;
    transition: all 300ms;
    &:hover {
      background-color: $primary_purple;
      color: $primary_black;
    }
  }
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@media screen and (min-width: 768px) {
  .gallery {
    padding-top: 60px;
    padding-bottom: 60px;
    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }
}
