.header {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-thumb {
    box-shadow: 0 1px 4px $secondary_gray;
    position: relative;
    z-index: 3;
  }
  &__navigation {
    color: $primary_gray;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 45px;
    font-size: 25px;
    font-weight: 600;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 100%;
  }

  &__navLink {
    padding: 10px;
    transition: all 300ms;
    border-radius: 8px;
    &-accent {
      background-color: $primary_purple;
      padding-right: 40px;
      color: $primary_white;
      fill: $primary_white;
      transition:
        color 300ms,
        fill 300ms;
    }
  }
  &__navLink:hover,
  &__navLink:focus,
  &__navLink:active {
    background-color: $secondary_bg_color;
    color: $primary_purple;
    scale: 1.15;
  }
  &__navLink-accent:hover,
  &__navLink-accent:focus,
  &__navLink-accent:active {
    color: $primary_purple;
  }
  &__navLang-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    &::not(:last-of-type) {
      border-right: 1px solid $primary_gray;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  &__telText {
    position: relative;
  }
  &__telIcon {
    height: 30px;
    width: 30px;
  }
}
.header__telText::after {
  content: '';
  display: block;
  position: absolute;
  z-index: 2;
  right: -30px;
  top: 55%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  fill: white;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="24px" height="24px"><path fill="%23ffffff" d="M88.723,12.142C76.419,17.238,23.661,39.091,9.084,45.047c-9.776,3.815-4.053,7.392-4.053,7.392 s8.345,2.861,15.499,5.007c7.153,2.146,10.968-0.238,10.968-0.238l33.62-22.652c11.922-8.107,9.061-1.431,6.199,1.431 c-6.199,6.2-16.452,15.975-25.036,23.844c-3.815,3.338-1.908,6.199-0.238,7.63c6.199,5.246,23.129,15.976,24.082,16.691 c5.037,3.566,14.945,8.699,16.452-2.146c0,0,5.961-37.435,5.961-37.435c1.908-12.637,3.815-24.321,4.053-27.659 C97.307,8.804,88.723,12.142,88.723,12.142z"/></svg>');
  background-size: cover;
  transition: transform 0.3s;
}

.header__navLink:hover .header__telText::after,
.header__navLink:focus .header__telText::after,
.header__navLink:active .header__telText::after {
  animation: vibrate 0.3s infinite;
  fill: $primary_purple;
  stroke: $primary_purple;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="24px" height="24px"><path fill="%235700ff" d="M88.723,12.142C76.419,17.238,23.661,39.091,9.084,45.047c-9.776,3.815-4.053,7.392-4.053,7.392 s8.345,2.861,15.499,5.007c7.153,2.146,10.968-0.238,10.968-0.238l33.62-22.652c11.922-8.107,9.061-1.431,6.199,1.431 c-6.199,6.2-16.452,15.975-25.036,23.844c-3.815,3.338-1.908,6.199-0.238,7.63c6.199,5.246,23.129,15.976,24.082,16.691 c5.037,3.566,14.945,8.699,16.452-2.146c0,0,5.961-37.435,5.961-37.435c1.908-12.637,3.815-24.321,4.053-27.659 C97.307,8.804,88.723,12.142,88.723,12.142z"/></svg>');
}

// MENU
.menu-open body {
  overflow: hidden;
}
.menu__body {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  transition: left 300ms;
  z-index: 4;
  background-color: $bg_color;
  overflow: auto;
}
.menu-open .menu__body {
  left: 0;
}
.icon-menu {
  display: block;
  position: relative;
  z-index: 5;
  width: 30px;
  height: 30px;
}
.icon-menu-line,
.icon-menu::before,
.icon-menu::after {
  content: '';
  position: absolute;
  background-color: $primary_black;
  height: 3px;
  width: 100%;
  left: 0;
  z-index: 4;
  transition: all 300ms;
}
.icon-menu::before {
  top: 0;
}
.icon-menu::after {
  bottom: 0;
}
.icon-menu-line {
  top: calc(50% - 1px);
}
.menu-open .icon-menu::before {
  top: calc(50% - 1px);
  transform: rotate(-45deg);
}
.menu-open .icon-menu::after {
  bottom: calc(50% - 2px);
  transform: rotate(45deg);
}
.menu-open .icon-menu-line {
  left: 50%;
  width: 0;
}

.active {
  scale: 1.1;
  box-shadow: 0 0 20px $secondary_purple;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 22px;
    padding-bottom: 22px;
    &__navigation {
      gap: 15px;
    }
    &__navLink {
      padding: 12px;
      &-accent {
        padding-right: 40px;
      }
    }
  }
}
@media screen and (min-width: 990px) {
  .header {
    &__navigation {
      display: flex;
      position: static;
      transform: translate(0, 0);
      width: auto;
      flex-direction: row;
      gap: 5px;
      font-size: 18px;
    }
    .menu__body {
      position: static;
      overflow: visible;
      width: auto;
      padding-top: 0;
    }
    .icon-menu,
    .menu-icon {
      display: none;
    }
  }
}
@media screen and (min-width: 1280px) {
  .header {
    &__navigation {
      gap: 20px;
    }
  }
}
@media screen and (min-width: 1440px) {
  .header {
    &__navigation {
      gap: 45px;
      font-size: 20px;
    }
    &__navLink {
      padding: 14px;
      &-accent {
        padding-right: 40px;
      }
    }
  }
}
@media screen and (min-width: 1920px) {
  .header {
    padding-top: 32px;
    padding-bottom: 32px;
    &__navigation {
      font-size: 24px;

      gap: 70px;
    }
  }
}

@keyframes vibrate {
  0% {
    transform: translate(-1px, -1px) translateY(-50%);
  }
  25% {
    transform: translate(1px, 1px) translateY(-50%);
  }
  50% {
    transform: translate(-1px, 1px) translateY(-50%);
  }
  75% {
    transform: translate(1px, -1px) translateY(-50%);
  }
  100% {
    transform: translate(0, 0) translateY(-50%);
  }
}
