<div class="section container about">
  <h2 class="about__title">Про мене</h2>
  <h4 class="about__subTitle">всього декілька слів</h4>
  <div class="about__textSection">
    <p class="about__text">
      Мене звати Олег, і пару років тому мене зацікавила ІТ-сфера, а саме її
      активний розвиток в Україні та можливості навчатися і вдосконалюватися у
      своїй справі безкінечно. Я хотів змінити роботу й ІТ-спеціальність давала
      найбільші перспективи стати професіоналом, якщо докладу зусиль. Мені
      подобається розбиратися у спеціальності повністю, тому я закінчив курси
      GoIT за програмою Full Stack Developer.
    </p>
    <p class="about__text">
      Наразі мені краще вдається Frontend, подобається робота над стилізацією
      інтерфейсів з бібліотекою React, проте я вдосконалююся і у
      Backend-розробці. Мені добре вдається ладнати з колегами, які неодноразово
      відмічали мої організаторські якості (під час навчання в GoIT я часто
      виконував роль Scrum-майстра ). Також цікавлюся дизайном, тож добре
      справляюся з усіма труднощами, які виникають при роботі з макетами. В мене
      немає комерційного досвіду, але в pet-проекти я вкладаю всі свої сили,
      знання та креатив, доводжу роботу над ними до кінця, щоб вони мали вигляд
      готового продукту. Кожного дня практикуюся, наповнюю власне портфоліо та
      відвідую тренінги. Маю готовність навчатися далі, поліпшувати свої навики
      та своє життя.
    </p>
    <p class="about__text">
      Хочу навчатися та працювати з найкращими, тому із задоволенням стану
      частиною вашої команди і покажу чого вартий, допоможу разом досягати
      більшого, якщо ви дасте мені шанс.
    </p>
  </div>

  <div class="skills">
    <h3 class="skills__title">Вже користуюсь</h3>
    <ul class="skills__list skills__list-used"></ul>
    <h3 class="skills__title">Вивчаю</h3>
    <ul class="skills__list skills__list-new"></ul>
  </div>
</div>
