<footer class="container footer">
  <div class="footer__topSection">
    <a href="*" class="logo">Кухаришин Олег</a>
    <nav>
      <ul class="footer__nav">
        <li class="footer__navLink"><a href="*">Про мене</a></li>
        <li class="footer__navLink"><a href="*">Головна</a></li>
        <li class="footer__navLink"><a href="*">Портфоліо</a></li>
        <li class="footer__navLink"><a href="*">Напишіть мені</a></li>
      </ul>
    </nav>
    <div>
      <ul class="footer__socialThumb">
        <li class="footer__socialLink">
          <a href="*">
            <svg class="footer__socialIcon">
              <use href="../assets/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="footer__socialLink">
          <a href="*">
            <svg class="footer__socialIcon">
              <use href="../assets/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer__socialLink">
          <a href="*">
            <svg class="footer__socialIcon">
              <use href="../assets/sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <ul class="footer__contacts">
    <li>
      <a href="mailto:olehkukharishin@gmail.com" class="footer__contactLink">
        <svg class="footer__socialIcon">
          <use href="../assets/sprite.svg#icon-mail"></use>
        </svg>
        <span>olehkukharishin@gmail.com</span>
      </a>
    </li>
    <li>
      <a href="tel:+380638133714" class="footer__contactLink">
        <svg class="footer__socialIcon">
          <use href="../assets/sprite.svg#icon-phone"></use>
        </svg>
        <span>+380638133714</span>
      </a>
    </li>
    <li>
      <a href="*" class="footer__contactLink">
        <svg class="footer__socialIcon">
          <use href="../assets/sprite.svg#icon-location"></use>
        </svg>
        <span>Кам'янець-Подільський</span>
      </a>
    </li>
  </ul>
</footer>
