<header class="container header">
  <a href="*" class="logo">Кухаришин Олег</a>
  <div class="menu__body">
    <nav>
      <ul class="header__navigation">
        <li class="header__navBtn header__navLink">
          <a data-goto="*" href="#">Головна</a>
        </li>
        <li class="header__navBtn header__navLink">
          <a data-goto="*" href="#">Про мене</a>
        </li>
        <li class="header__navBtn header__navLink">
          <a data-goto="*" href="#">Портфоліо</a>
        </li>
        <li class="header__navBtn header__navLink">
          <a data-goto="*" href="#">Контакти</a>
        </li>
        <li>
          <a href="#" class="header__navBtn header__navBtn-accent">
            <span class="header__telText">Напишіть мені</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <button class="icon-menu menu-icon" type="button">
    <span class="icon-menu-line"></span>
  </button>
</header>
