<main class="hero">
  <div>
    <div class="heroTextSection">
      <button class="heroTextSection__helloBtn">Click...</button>
      <div class="heroTextSection__textThumb">
        <h1 class="heroTextSection__mainTitle">
          Мене звати <br />
          Кухаришин Олег
        </h1>
        <p class="heroTextSection__text">
          Привіт! Я захоплений веб-розробник, який завжди прагне створювати
          яскраві, стильні та функціональні вебсайти. Моя мета – поєднати
          креативність і технічні навички, щоб допомогти кожному проєкту втілити
          унікальне бачення. Я вірю, що добре спроєктований сайт – це не лише
          естетика, але й потужний інструмент для досягнення цілей. Запрошую вас
          ознайомитися з моїм портфоліо, щоб побачити результати моєї роботи в
          дії. З кожним новим проєктом я вдосконалюю свої навички,
          використовуючи сучасні технології для створення вебсайтів, які
          захоплюють увагу та працюють ефективно.
        </p>
      </div>
      <!-- <div class="heroTextSection__btnGroup">
        <button class="heroTextSection__btn">Hello!</button>
        <button class="heroTextSection__btn">Hello!</button>
      </div> -->
    </div>
  </div>
  <div class="hero__imageContainer">
    <picture>
      <source
        srcset="../assets/main/container.jpg 1x"
        type="image/avif"
        media="(min-width:1920px)"
      />
      <source
        srcset="../assets/main/containertablet.jpg 1x"
        type="image/avif"
        media="(min-width:767px)"
      />
      <source
        srcset="../assets/main/containerMobile.jpg 1x"
        type="image/avif"
        media="(max-width:767px)"
      />
      <img
        src="../assets/main/container.jpg"
        alt="photo background"
        class="hero__imageBackground"
      />
    </picture>
    <svg class="hero__icon hero__icon-top">
      <use href="/portfolio/assets/sprite.svg#icon-blocksMainImg"></use>
    </svg>
    <svg class="hero__icon hero__icon-bottom">
      <use href="/portfolio/assets/sprite.svg#icon-blocksMainImg"></use>
    </svg>
    <img
      class="hero__photo"
      src="../assets/main/oleh.webp"
      alt="Oleh Kukharyshyn photo"
    />
  </div>
</main>
