<div class="section container samples">
  <h2 class="samples__title">Мої роботи</h2>
  <p class="samples__text">
    Натисніть на конкретну роботу, щоб перейти на сторінку опису, або перейдіть
    до портфоліо
  </p>
  <div class="samples__swiperThumb">
    <div class="samples__swiper swiper mainSwiper swiper-container">
      <div class="swiper-wrapper mainSwiper-wrapper"></div>
    </div>
    <div class="swiper-pagination mainSwiper__pagination"></div>
  </div>
  <a href="/portfolio/gallery_uk" class="samples__galleryLink">
    <button class="samples__galleryBtn">
      <span>Переглянути галерею</span>
      <svg class="samples__galleryBtn-image" viewBox="0 0 13 10">
        <path d="M1,5 L11,5"></path>
        <polyline points="8 1 12 5 8 9"></polyline>
      </svg>
    </button>
  </a>
  <div id="slider-container"></div>
</div>
